body {
  margin: 0;
  padding: 0;
  background-color: #202f45;
}

.background-img {
  margin: 0;
  padding: 0;
  height: 850px;
  width: 1920px;
}

.container {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.container h1 {
  font-family: "inknut Antiqua";
  font-size: 2em;
  color: #ffffff;
  position: absolute;
  top: 3.4%;
  left: 50%;
  transform: translateX(-50%);
}

.container h2 {
  font-family: "inknut Antiqua";
  font-size: 1.2em;
  color: #ffffff;
  position: absolute;
  top: 100.1%;
  left: 2.5%;
}

.line-img {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 5%;
}

.circle-img {
  position: absolute;
  top: 2%;
  left: 50%;
  width: 5%;
  transform: translateX(-50%);
}

.squid1-img {
  position: absolute;
  top: 5.8%;
  left: 95%;
  transform: translateX(-50%);
}

.squid2-img {
  position: absolute;
  top: 5.8%;
  left: 5%;
  transform: translateX(-50%);
}

.container2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202f45d5;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 70vh;
  justify-content: center;
}

.container3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #2d6470d5;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  margin-bottom: 700px;
}

.container h3 {
  font-family: "inknut Antiqua";
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.container h4 {
  font-family: "inknut Antiqua";
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.container h5 {
  font-family: "inknut Antiqua";
  font-size: 3.5em;
  color: #ffffff;
  text-align: center;
  margin-top: 600px;
}

.button1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: "inknut Antiqua";
  text-decoration: none;
  color: #ffffff;
  background-color: #202f45;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button1:hover {
  background-color: #5e4120;
}

.input-box1,
.input-box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1em;
}