* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  overflow: hidden;
}

#container {
  height: 100vh;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#event-message-container {
  padding: 2em 0;
  width: 92vw;
  height: 146px;
  background: rgba(186, 205, 186, 0.3);
  border-radius: 10px;
}

#timer-bar-container {
  height: 2vh;
  width: 100%;
  border: solid;
  margin-top: 1em;
}

.event-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: black;
  margin-top: 1em;
}

.event-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 10vh;
  width: 50vw;
  max-width: 80vw;
  max-height: 15vh;
  text-align: center;
  position: relative;
  border: black;
  overflow: hidden;
}

.event-btn svg {
  width: 100%;
  height: auto;
}

.event-btn-text {
  position: absolute;
  color: white;
  font-size: 2vw;
  padding: 0 0 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.4em;
}

#character-sheet-container {
  height: 35%;
  width: 100%;
  border: solid;
  border-color: black;
  margin-top: 1em;
}

/* test */
.event-btn:active {
  background-color: rgba(69, 160, 73, 0.5);
}
