body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1861b4; /* Background color for the surrounding area */
    font-family: Arial, sans-serif;
}

.phone {
    width: 360px; /* Width of the phone screen */
    height: 800px; /* Height of the phone screen */
    background-image: url('images/Jon.webp'); /* Placeholder background image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the background image */
    border: 5px solid #000; /* Border to mimic phone bezel */
    border-radius: 20px; /* Rounded corners to mimic phone shape */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for 3D effect */
    position: relative; /* Positioning context for the button */
}

.phone p {
    position: absolute;
    top: 600px; /* Adjust this value to position the paragraph from the top */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
    background: #084166cc; /* Optional background for better readability */
    border-radius: 10px; /* Optional rounded corners */
    font-size: 16px; /* Font size */
    color: white; /* Font color */
}

#PinInput {
    position: absolute;
    top: 680px; /* Adjust this value to position the input from the top */
    left: 50%; /* Adjust this value to position the input from the left */
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
    border-radius: 10px; /* Optional rounded corners */
    border: 1px solid #050505; /* Optional border styling */
}

.start-button {
    position: absolute;
    bottom: 20px; /* Distance from the bottom of the phone */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #084166cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #5e4120;
}