main{
    height: 100vh;
    margin: 1em auto;
    max-width: 360px; /* Limit the content width */
    background: #2D6470; /* Background color for the main content */
    border-radius: 10px;
}
#Eclipse{
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    width: 10%;
}
#Rectangle{
    position: absolute;
    left: 0;
    right: 0;
    top: 14%;
    margin: auto;
    width: 17%;
}
#text{
    position: absolute;
    left: 0;
    right: 0;
    top: 11.5%;
    display: table;
    margin: 3vh auto 0px auto;
    z-index: 2;
}
#Blekksprut1{
    position: absolute;
    left: 42%;
    top: 14.5%;
    z-index: 2;
    margin: auto;
    width: 1%;
}
#Blekksprut2{
    position: absolute;
    right: 42%;
    top: 14.5%;
    z-index: 2;
    margin: auto;
    width: 1%;
}
#Q{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    background-color: #202F45;
    width: 200px;
    height: 75px;
    border-radius: 25px;
    display: table;
    margin: 30vh auto 0px auto;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: aliceblue;
}
/* .load{
    .load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
        width:10px;
        height:10px;
    }
         
      .load hr{border:0;margin:0;width:40px;height:40px;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
      
      .load :first-child{background:#19A68C;animation-delay:-1.5s}
      .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
      .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
      .load :last-child{background:#193B48}
      
      @keyframes spin{
        0%,100%{transform:translate(0)}
        25%{transform:translate(160%)}
        50%{transform:translate(160%, 160%)}
        75%{transform:translate(0, 160%)}
      }
} */
 
.loadingWheel{
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    z-index: 2;
    width: 100px;
	height: 100px;
	margin: 110px auto 0;
	border:solid 10px aliceblue;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}