/* body{
    
} */
main{
    height: 100vh;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 360px; /* Limit the content width */
    background: rgb(30, 30, 69); /* Background color for the main content */
    border-radius: 10px;
    
}
#text{
    background-color: rgb(38, 92, 99);
    width: 200px;
    height: 75px;
    border-radius: 30px;    
}
#overlay{
    position: absolute;
    height: 100vh;
    width: 360px;
    background-color: rgb(0, 0, 41);
    opacity: 60%;
}
p{
    text-align: center;
    margin: 0;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: aliceblue;
}