/* Generelle stiler for body og html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #535151; 
    font-family: Arial, sans-serif;
}

/* Container for snøeffekten */
#snow-container {
    position: absolute;
    top: 1%;
    left: 10px;
    width: 10%;
    transform: translateX(0%);
}

/* Stil for snøfnugg */
.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 5;
    animation: fall linear infinite;
}

/* Animasjon for snøfnugg */
@keyframes fall {
    to {
        transform: translateY(85vh);
    }
}

/* Stil for telefonen */
.phone {
    width: 360px; 
    height: 800px;
    border: 5px solid #000; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    position: relative; 
    background-color: #2D6470;
}

/* Stil for feilmeldingsboblen */
.error-bubble {
    display: none;
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: 80%; 
    text-align: center;
    z-index: 1000;
}

/* Stil for suksessmelding */
.error-bubble.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

/* Posisjonering av fjellbildet */
.phone img.mountain-img {
    position: absolute;
    top: 17%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 450px; 
}

/* Posisjonering av solformørkelsesbildet */
.phone img.Eclipse-img {
    position: absolute;
    top: 1%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 34%; 
    height: auto; 
}

/* Posisjonering av rektangelbildet */
.phone img.Rectangle-img {
    position: absolute;
    top: 7%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 100%; 
    height: auto; 
}

/* Posisjonering av blekksprutbildet (venstre) */
.phone img.Blekksprut-img {
    position: absolute;
    top: 7.5%; 
    left: 5%; 
    transform: translateX(-50%); 
    width: 6%;
    height: auto;
}

/* Posisjonering av blekksprutbildet (høyre) */
.phone img.Blekkspruten-img {
    position: absolute;
    top: 7.5%; 
    left: 95%; 
    transform: translateX(-50%); 
    width: 6%; 
    height: auto; 
}

/* Stil for overskriften */
.phone h1 {
    font-family: 'inknut Antiqua';
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 0px;
    position: absolute;
    top: 7.4%;
    left: 75%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}

/* Stil for velkomstteksten */
.phone p {
    position: absolute;
    top: 620px; 
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
    background: #084166cc;
    border-radius: 10px; 
    font-size: 16px; 
    color: white; 
}

/* Stil for inndatafeltet */
#nameInput {
    position: absolute;
    top: 690px; 
    left: 50%; 
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid #050505; 
}

/* Stil for startknappen */
.start-button {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #084166cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Stil for startknappen ved hover */
.start-button:hover {
    background-color: #5e4120;
}
