/* Generelle stiler for body og html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: monospace;
  background: #e0f7fa; /* Light cyan background for the sides */
}

html {
  overflow: hidden;
}

main {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px; /* Limit the content width */
  background: #202f45; /* Background color for the main content */
}

.txt-container {
  background-color: #2d6470;
  width: 300px;
  height: 75px;
  max-width: 80vw;
  border-radius: 5px 20px 5px;
}
#overlay {
  position: absolute;
  height: 100vh;
  width: 360px;

  background-color: rgb(5, 5, 54);
  opacity: 60%;
}
.action-txt {
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 1rem;
  color: aliceblue;
}
