* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e0f7fa; /* Light cyan background for the sides */
}

html {
  overflow: hidden;
}

#container {
  height: 100vh;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 360px; /* Limit the content width */
  background: #ffffff; /* White background for the main content */
  border-radius: 10px;
}

#event-message-container {
  padding: 2em 0;
  width: 92vw;
  max-width: 340px;
  height: 23vh;
  background: rgba(173, 216, 230, 0.4); /* Light blue with transparency */
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.timer-bar-container {
  margin-left: 20px;
  margin-right: 20px;
  height: 20px;
  width: 92vw;
  max-width: 340px;
  border: 3px solid rgba(173, 216, 230, 0.3); /* Light blue border */
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.timer-bar {
  width: 100%;
  height: 100%;
  background-color: #4682b4;
  animation: countdown linear infinite;
}

#remaining-time {
  color: white;
  font-size: 12px;

  position: absolute;
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.event-option-container {
  display: grid;
  gap: 0.5em;
  width: 98%;
  max-width: 360px;
}

.event-btn {
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  background: #1e90ff; /* Dodger blue for buttons */
  border: 0px;
  position: relative;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow:
    inset 0 -50px 5px rgba(0, 0, 0, 0.5),
    inset 0 -10px 10px rgba(0, 0, 0, 0.3);
  color: #fff; /* White text color */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5%;
  padding: 0 1em;
}
.event-btn:hover {
  cursor: pointer;
}

.event-btn-text {
  position: absolute;
  color: white;
  font-size: 1em;
  padding: 0 0 10px;
  word-wrap: break-word;
  white-space: initial;
  inline-size: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.4em;
}

.event-btn.active {
  transform: translateY(5px); /* Move button content down by 10px */
}
.event-btn:focus {
  outline: none;
}

.event-btn::after {
  content: "";
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.event-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

.btn-0 {
  background-color: #4d9be6; /* Light blue */
  box-shadow:
    inset -4px 2px 1px 1px #3b82c4,
    inset -4px -2px 1px 1px #3b82c4,
    inset 4px 0px 1px 1px #3b82c4,
    0px 5px 3px 0px #504e4e;
}

.btn-0.active {
  background-color: #8dc7f7; /* Paler light blue */
  box-shadow:
    inset 0px -5px 0px 4px #2f6496,
    inset 1px -10px 0px 2px #4d9be6,
    inset 0px -9px 1px 6px #87c3f4,
    inset -1px 2px 6px 0px #4d9be6;

  color: #3b82c4;
  font-weight: bold;
}

/* Button 1 */
.btn-1 {
  background-color: #1ebc73; /* Medium sea green */
  box-shadow:
    inset -4px 2px 1px 1px #169a5d,
    inset -4px -2px 1px 1px #169a5d,
    inset 4px 0px 1px 1px #169a5d,
    0px 5px 3px 0px #504e4e;
}
.btn-1.active {
  background-color: #79e0ac; /* Paler medium sea green */
  box-shadow:
    inset 0px -5px 0px 4px #10784f,
    inset 1px -10px 0px 2px #1ebc73,
    inset 0px -9px 1px 6px #71d7a5,
    inset -1px 2px 6px 0px #1ebc73;

  color: #0f613b;
  font-weight: bold;
}

/* Button 2 */
.btn-2 {
  background-color: #e6904e; /* Sandy brown */
  box-shadow:
    inset -4px 2px 1px 1px #c67540,
    inset -4px -2px 1px 1px #c67540,
    inset 4px 0px 1px 1px #c67540,
    0px 5px 3px 0px #504e4e;
}
.btn-2.active {
  background-color: #f0b685; /* Paler sandy brown */
  box-shadow:
    inset 0px -5px 0px 4px #b36337,
    inset 1px -10px 0px 2px #e6904e,
    inset 0px -9px 1px 6px #e9ad7c,
    inset -1px 2px 6px 0px #e6904e;

  color: #5b371f;
  font-weight: bold;
}

/* Button 3 */
.btn-3 {
  background-color: #f68181; /* Light coral */
  box-shadow:
    inset -4px 2px 1px 1px #d46a6a,
    inset -4px -2px 1px 1px #d46a6a,
    inset 4px 0px 1px 1px #d46a6a,
    0px 5px 3px 0px #504e4e;
}
.btn-3.active {
  background-color: #f9a9a9; /* Paler light coral */
  box-shadow:
    inset 0px -5px 0px 4px #bd5959,
    inset 1px -10px 0px 2px #f68181,
    inset 0px -9px 1px 6px #f4a2a2,
    inset -1px 2px 6px 0px #f68181;

  color: #542222;
  font-weight: bold;
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  body {
    background: linear-gradient(90deg, #154060 2%, #526f89 51%, #154060 99%);
  }

  #container {
    max-width: none;
    width: 360px;
  }

  #event-message-container,
  .timer-bar-container,
  .event-btn {
    max-width: 100%;
  }
}

/* Grid layout adjustments */
@media (min-width: 0px) {
  .event-option-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .event-option-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 10vh;
  }
}

.character-equipment {
  grid-area: C;
  border: 2px solid #a7cddc;
}
.character-relationships {
  grid-area: B;
  border: 2px solid #a7cddc;
}
.erik {
  margin: -10px auto;
  width: 4em;
  border-radius: 2em;
}
.character-stats {
  grid-area: A;
  border: 2px solid #a7cddc;
}

.charactersheet-container {
  display: grid;
  height: 40vh;
  width: 100%;
  max-width: 360px;
  padding: 5px;
  margin-top: 1em;
  gap: 5px 5px;
  grid-template-areas:
    "A A A A A A A B B B B B B"
    "A A A A A A A B B B B B B"
    "A A A A A A A B B B B B B"
    "C C C C C C C C C C C C C"
    "C C C C C C C C C C C C C";
}
